#footer {
    height: auto;
    color: white;
    padding: 0;
    background-color: #10AAD3;
}

#box-f-1 {
    width: 50%;
    height: auto;
    padding: 30px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 1000px) {
    #box-f-1 {
        width: 100%;
        height: auto;
    }
}

#box-f-2 {
    width: 50%;
}

#icos-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#f1 {
    width: 50%;
    height: auto;
    padding: 15px;
    background-color: rgb(2, 60, 131);
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px) {
    #f1 {
        width: 100%;
    }
}

#paragraph {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#p1 {
    width: 40%;
}

#p2 {
    width: 50%;
}

@media(max-width: 800px) {
    #paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #p1 {
        width: 100%;
    }
    #p2 {
        width: 100%;
    }
    #footer {
        height: auto;
    }
    #box-f-1 {
        background-image: none;
    }
}