/*uso correcto de font family {google fonts}
            font-family: 'Raleway', sans-serif;
            font-family: 'Roboto', sans-serif;
        */

@media(max-width: 800px) {
    #header {
        background-position: 0px 0px;
    }
    #header:hover {
        transition: ease all 1s;
        background-position: 0px 0px;
    }
    #logo {
        width: 125px;
        height: 125px;
        left: 85%;
        margin-top: 25px;
    }
    #logoid {
        width: 125px;
        height: auto;
        margin-top: 0;
    }
    #fm-video {
        width: 100%;
    }
}

#header:hover {
    transition: ease all 3s;
    background-size: 105%;
}

a {
    color: white;
}

#picture {
    width: 360px;
    height: 300px;
    border: solid 1px blueviolet;
}

#video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vExpl {
    width: 400px;
    font-size: 20pt;
    font-weight: bold;
    padding: 20px;
    padding-right: 40px;
    color: whitesmoke;
    background-color: #10AAD3;
    text-align: right;
}

@media (max-width: 1000px) {
    #vExpl {
        width: 1000;
        text-align: center;
    }
}

.note {
    font-size: 12px;
    color: whitesmoke;
}