/*uso correcto de font family {google fonts}
            font-family: 'Raleway', sans-serif;
            font-family: 'Roboto', sans-serif;
        */

@media(max-width: 800px) {
    #header {
        background-position: 0px 0px;
    }
    #header:hover {
        transition: ease all 1s;
        background-position: 0px 0px;
    }
    #logo {
        width: 125px;
        height: 125px;
        left: 100%;
        margin-top: 100px;
    }
    #logoid {
        width: 125px;
        height: auto;
        margin-top: 20px;
    }
}

#header:hover {
    transition: ease all 3s;
    background-size: 105%;
}

a {
    color: white;
}

#picture {
    width: 360px;
    height: 300px;
    border: solid 1px blueviolet;
}