@media screen and (max-width: 800px) {
    li {
        display: none;
    }
    #responsive-menu {
        display: inherit;
    }
    #menu-modal {
        display: inherit;
        position: absolute;
        width: 100%;
        opacity: 0;
        z-index: 5;
    }
    .menu-resp {
        border-radius: 25px;
        transition: ease all 1s;
    }
    .menu-resp:hover {
        transition: ease all 1s;
        background-color: black;
    }
}

@media screen and (min-width: 801px) {
    #menu-modal {
        display: none;
    }
    #responsive-menu {
        display: none;
    }
}