
.icon-thumbs-down:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-users-outline:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-star-filled:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e809'; } /* '' */
.icon-cancel-circled:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-eq:before { content: '\e80d'; } /* '' */
.icon-divide:before { content: '\e80e'; } /* '' */
.icon-attach-outline:before { content: '\e80f'; } /* '' */
.icon-lock-filled:before { content: '\e810'; } /* '' */
.icon-lock-open:before { content: '\e811'; } /* '' */
.icon-lock-open-filled:before { content: '\e812'; } /* '' */
.icon-pin:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-eye-outline:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-tag:before { content: '\e817'; } /* '' */
.icon-tags:before { content: '\e818'; } /* '' */
.icon-bookmark:before { content: '\e819'; } /* '' */
.icon-chat:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\e81b'; } /* '' */
.icon-pencil:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-pen:before { content: '\e81e'; } /* '' */
.icon-chat-alt:before { content: '\e81f'; } /* '' */
.icon-bell:before { content: '\e820'; } /* '' */
.icon-attention:before { content: '\e821'; } /* '' */
.icon-attention-filled:before { content: '\e822'; } /* '' */
.icon-warning:before { content: '\e823'; } /* '' */
.icon-basket:before { content: '\e824'; } /* '' */
.icon-wrench:before { content: '\e825'; } /* '' */
.icon-wrench-outline:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e827'; } /* '' */
.icon-cog-outline:before { content: '\e828'; } /* '' */
.icon-doc-add:before { content: '\e829'; } /* '' */
.icon-doc-remove:before { content: '\e82a'; } /* '' */
.icon-folder:before { content: '\e82b'; } /* '' */
.icon-folder-add:before { content: '\e82c'; } /* '' */
.icon-sun-filled:before { content: '\e82d'; } /* '' */
.icon-sun:before { content: '\e82e'; } /* '' */
.icon-move:before { content: '\e82f'; } /* '' */
.icon-zoom-in:before { content: '\e830'; } /* '' */
.icon-zoom-out:before { content: '\e831'; } /* '' */
.icon-desktop:before { content: '\e832'; } /* '' */
.icon-laptop:before { content: '\e833'; } /* '' */
.icon-tablet:before { content: '\e834'; } /* '' */
.icon-mobile:before { content: '\e835'; } /* '' */
.icon-chart-bar:before { content: '\e836'; } /* '' */
.icon-chart-bar-outline:before { content: '\e837'; } /* '' */
.icon-chart-alt:before { content: '\e838'; } /* '' */
.icon-chart-alt-outline:before { content: '\e839'; } /* '' */
.icon-chart:before { content: '\e83a'; } /* '' */
.icon-chart-outline:before { content: '\e83b'; } /* '' */
.icon-gift:before { content: '\e83c'; } /* '' */
.icon-key-outline:before { content: '\e83d'; } /* '' */
.icon-key:before { content: '\e83e'; } /* '' */
.icon-flow-parallel:before { content: '\e83f'; } /* '' */
.icon-flow-cross:before { content: '\e840'; } /* '' */
.icon-flow-split:before { content: '\e841'; } /* '' */
.icon-flow-merge:before { content: '\e842'; } /* '' */
.icon-power:before { content: '\e843'; } /* '' */
.icon-brush:before { content: '\e844'; } /* '' */
.icon-pipette:before { content: '\e845'; } /* '' */
.icon-moon:before { content: '\e846'; } /* '' */
.icon-anchor:before { content: '\e847'; } /* '' */
.icon-heart:before { content: '\e848'; } /* '' */
.icon-mail:before { content: '\e849'; } /* '' */
.icon-star:before { content: '\e84a'; } /* '' */
.icon-star-empty:before { content: '\e84b'; } /* '' */
.icon-ok-1:before { content: '\e84c'; } /* '' */
.icon-cancel-1:before { content: '\e84d'; } /* '' */
.icon-plus-1:before { content: '\e84e'; } /* '' */
.icon-eye-1:before { content: '\e84f'; } /* '' */
.icon-eye-off:before { content: '\e850'; } /* '' */
.icon-tags-1:before { content: '\e851'; } /* '' */
.icon-basket-1:before { content: '\e852'; } /* '' */
.icon-basket-circled:before { content: '\e853'; } /* '' */
.icon-down-circle:before { content: '\e854'; } /* '' */
.icon-left-circle:before { content: '\e855'; } /* '' */
.icon-right-circle:before { content: '\e856'; } /* '' */
.icon-up-circle:before { content: '\e857'; } /* '' */
.icon-heart-1:before { content: '\e858'; } /* '' */
.icon-heart-empty:before { content: '\e859'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users-1:before { content: '\f064'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-1:before { content: '\f06e'; } /* '' */